<%-include('../partials/header.ejs')%>

    <body>

        <div class="container ">
            <h1 class="text-center alert alert-primary  p-1 ">Create Resume</h1>
            <div class="row ">
                <!-- left col  -->
                <div class="col">
                    <h4 class=" text-center p-2 alert alert-success ">Personal Information</h4>

                    <form action="createuser" method="post">

                        <div class="mb-2">
                            <label for="">Your Name</label>
                            <input name="name" placeholder="Enter here" class="form-control" value="">
                        </div>
                        <div class="mb-2">
                            <label for="emailField" class="mt-2">Email</label>
                            <input name="email" type="email" placeholder="Enter here" class="form-control">
                        </div>

                        <div class="mb-2">
                            <label for="contactField" class="mt-2">Contact</label>
                            <input name="contact" type="number" placeholder="Enter number" class="form-control ">
                        </div>

                        <div class="mb-2">
                            <label for="contactField" class="mt-2">Profile</label>
                            <input name="profile" type="url" placeholder="Enter url" class="form-control ">
                        </div>

                        <div class="text-center p-1 alert alert-danger mt-3 ">
                            <h4>Importaint Links</h4>
                        </div>



                        <div class="mb-2">
                            <label for="profileField" class="mt-2">LinkedIn</label>
                            <input name="linkedin" type="text" placeholder="Enter url" class="form-control ">
                        </div>

                        <div class="mb-2">
                            <label for="profileField" class="mt-2">Git Hub</label>
                            <input name="github" type="text" placeholder="Enter url" class="form-control ">
                        </div>

                </div>
                <!-- right col  -->
                <div class="col">
                    <h4 class="text-center p-2 alert alert-danger">Professinal Information</h4>


                    <div class="mb-2">
                        <label for="">Skill</label>
                        <textarea name="skill" class="form-control" placeholder="Enter here"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="">Experience</label>
                        <textarea name="experience" class="form-control" placeholder="Enter here"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="">Projects</label>
                        <textarea name="project" class="form-control" placeholder="Enter here"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="">Education</label>
                        <textarea name="education" class="form-control" placeholder="Enter here"></textarea>
                    </div>


                    <button class="btn btn-primary  mt-2" id="create-btn" >Create Resume</button>



                    </form>


                </div>
            </div>
        </div>

        </div>

    </body>



    </html>