<%-include('../partials/header.ejs')%>

    <body>
        <div class="container text-center " >
            <h1 class="alert alert-primary mt-2">Homepage</h1>
            <a href="/createresume"> <button class="btn btn-primary btn-lg">Create Resume</button> </a>
            <a href="/ListAllResume"> <button class="btn btn-primary btn-lg">List All Resume</button></a>
            </form>
        </div>
    </body>

    </html>